::ng-deep.p-toolbar {
    padding: 0px 10px !important;
    border: none !important;
    margin-bottom: 10px !important;
    
    // border-radius: var(--p-toolbar-border-radius);
    // gap: var(--p-toolbar-gap);
}